.container {
  width: 100%;
  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  order: 1;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 10px 32px;
  background-color: var(--background_secondary);
  border-radius: var(--border_radius_big);
  box-shadow: var(--shadow);
}

.item {
  width: 80px;
  height: 80px;
}

@media (max-width: 932px) {
  .list {
    gap: 16px;
    padding: 8px 16px;
  }

  .item {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 522px) {

  .item {
    width: 30px;
    height: 30px;
  }
}
